<p style="font-family: Arial; font-size:3.80em;color:red; font-style:bold">
<br>
FIFA Data Creation & Cleaning
</p><br>

<p style="font-family: Arial; font-size:2.75em;color:black; font-style:bold">
<br>
Lucas Newman
</p><br>

# Data Cleaning

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#Import all the libraries needed
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import statsmodels.formula.api as smf
from statsmodels.formula.api import *
from statsmodels.formula.api import ols
from scipy.stats import t
from scipy.interpolate import *
from matplotlib.pyplot import *
from scipy.stats import *
import statsmodels.api as sm
from sympy import symbols, diff
import math
import sklearn
import os
%matplotlib inline

In [3]:
pwd()

'/Users/lucasnewman/Desktop/FIFA'

The basis for this data set is from Kaggle: https://www.kaggle.com/kevinmh/fifa-18-more-complete-player-dataset
<br/>
This data will be modified however for our purposes.

Before importing the csv data set in pandas the data set was opened in excel and some of the columns from the original data set were dropped. Many of the #traits were dropped, and irrelevant photograph data was dropped. Moreover, some positional data was dropped in excel. 
<br/>
The positions that are maintained are the most common positions: GK, CB, LB, RB, RWB, LWB, LM, RM, RW, LW, CDM, CM, CAM, CF, and ST.
<br/>
What is left was then saved as a new csv called 'modified_complete.csv'
<br/> We will now do some additional cleaning to this modified_complete data set.

In [21]:
# Check the encoding of the dataset and then decode it
import chardet
with open("modified_complete.csv", "rb") as f:
    result = chardet.detect(f.read(100000))
print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [22]:
#Convert to a DF where ID is the index
complete= pd.read_csv("modified_complete.csv", encoding= "utf-8", index_col=0)
complete.head()

,name,full_name,club,special,age,league,birth_date,height_cm,weight_kg,nationality,...,prefers_lw,prefers_cf,prefers_cam,prefers_cm,prefers_lm,prefers_cdm,prefers_cb,prefers_lb,prefers_lwb,prefers_gk
ID,,,,,,,,,,,,,,,,,,,,,
20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,2228,32,Spanish Primera División,2/5/85,185,80,Portugal,...,True,False,False,False,False,False,False,False,False,False
158023,L. Messi,Lionel Messi,FC Barcelona,2158,30,Spanish Primera División,6/24/87,170,72,Argentina,...,False,True,False,False,False,False,False,False,False,False
190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,2100,25,French Ligue 1,2/5/92,175,68,Brazil,...,True,False,False,False,False,False,False,False,False,False
176580,L. Suárez,Luis Suárez,FC Barcelona,2291,30,Spanish Primera División,1/24/87,182,86,Uruguay,...,False,False,False,False,False,False,False,False,False,False
167495,M. Neuer,Manuel Neuer,FC Bayern Munich,1493,31,German Bundesliga,3/27/86,193,92,Germany,...,False,False,False,False,False,False,False,False,False,True

In [23]:
#We still have a problem:
#We need to convert all our positional data that is str(True-False) to Boolean type, then 
# to dummy integer type where True=1 and False=0

#RW&RM&RWB&RB
complete.prefers_rw = complete.prefers_rw.astype(bool)
complete.prefers_rw = complete.prefers_rw.astype(int)
complete.prefers_rm = complete.prefers_rm.astype(bool)
complete.prefers_rm = complete.prefers_rm.astype(int)
complete.prefers_rb = complete.prefers_rb.astype(bool)
complete.prefers_rb = complete.prefers_rb.astype(int)
complete.prefers_rwb = complete.prefers_rwb.astype(bool)
complete.prefers_rwb = complete.prefers_rwb.astype(int)
#ST
complete.prefers_st = complete.prefers_st.astype(bool)
complete.prefers_st = complete.prefers_st.astype(int)
#LW&LM&LWB&LB
complete.prefers_lw = complete.prefers_lw.astype(bool)
complete.prefers_lw = complete.prefers_lw.astype(int)
complete.prefers_lm = complete.prefers_lm.astype(bool)
complete.prefers_lm = complete.prefers_lm.astype(int)
complete.prefers_lb = complete.prefers_lb.astype(bool)
complete.prefers_lb = complete.prefers_lb.astype(int)
complete.prefers_lwb = complete.prefers_lwb.astype(bool)
complete.prefers_lwb = complete.prefers_lwb.astype(int)

#CM&CDM&CAM&CF
complete.prefers_cm = complete.prefers_cm.astype(bool)
complete.prefers_cm = complete.prefers_cm.astype(int)
complete.prefers_cdm = complete.prefers_cdm.astype(bool)
complete.prefers_cdm = complete.prefers_cdm.astype(int)
complete.prefers_cam = complete.prefers_cam.astype(bool)
complete.prefers_cam = complete.prefers_cam.astype(int)
complete.prefers_cf = complete.prefers_cf.astype(bool)
complete.prefers_cf = complete.prefers_cf.astype(int)

#CB
complete.prefers_cb = complete.prefers_cb.astype(bool)
complete.prefers_cb = complete.prefers_cb.astype(int)

#GK
complete.prefers_gk = complete.prefers_gk.astype(bool)
complete.prefers_gk = complete.prefers_gk.astype(int)
complete.head()

,name,full_name,club,special,age,league,birth_date,height_cm,weight_kg,nationality,...,prefers_lw,prefers_cf,prefers_cam,prefers_cm,prefers_lm,prefers_cdm,prefers_cb,prefers_lb,prefers_lwb,prefers_gk
ID,,,,,,,,,,,,,,,,,,,,,
20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,2228,32,Spanish Primera División,2/5/85,185,80,Portugal,...,1,0,0,0,0,0,0,0,0,0
158023,L. Messi,Lionel Messi,FC Barcelona,2158,30,Spanish Primera División,6/24/87,170,72,Argentina,...,0,1,0,0,0,0,0,0,0,0
190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,2100,25,French Ligue 1,2/5/92,175,68,Brazil,...,1,0,0,0,0,0,0,0,0,0
176580,L. Suárez,Luis Suárez,FC Barcelona,2291,30,Spanish Primera División,1/24/87,182,86,Uruguay,...,0,0,0,0,0,0,0,0,0,0
167495,M. Neuer,Manuel Neuer,FC Bayern Munich,1493,31,German Bundesliga,3/27/86,193,92,Germany,...,0,0,0,0,0,0,0,0,0,1

In [29]:
#Addressing Missing Values
#Do we have missing values
#If we do fill them with zeros along axis=0
complete.isnull().any(axis=0)
complete.fillna(0, inplace=True, axis=0)

name                        False
full_name                   False
club                        False
special                     False
age                         False
league                      False
birth_date                  False
height_cm                   False
weight_kg                   False
nationality                 False
eur_value                   False
eur_wage                    False
eur_release_clause          False
overall                     False
potential                   False
pac                         False
sho                         False
pas                         False
dri                         False
defend                      False
phy                         False
international_reputation    False
skill_moves                 False
weak_foot                   False
work_rate_att               False
work_rate_defend            False
preferred_foot              False
crossing                    False
finishing                   False
heading_accuracy            False
                            ...
rw                          False
rm                          False
rb                          False
rwb                         False
st                          False
lw                          False
cf                          False
cam                         False
cm                          False
lm                          False
cdm                         False
cb                          False
lb                          False
lwb                         False
gk                          False
prefers_rw                  False
prefers_rm                  False
prefers_rb                  False
prefers_rwb                 False
prefers_st                  False
prefers_lw                  False
prefers_cf                  False
prefers_cam                 False
prefers_cm                  False
prefers_lm                  False
prefers_cdm                 False
prefers_cb                  False
prefers_lb                  False
prefers_lwb                 False
prefers_gk                  False
Length: 91, dtype: bool

In [32]:
#Check if we got rid of missing data
complete.isnull().any(axis=0)
complete.isnull().sum(axis=0)

name                        False
full_name                   False
club                        False
special                     False
age                         False
league                      False
birth_date                  False
height_cm                   False
weight_kg                   False
nationality                 False
eur_value                   False
eur_wage                    False
eur_release_clause          False
overall                     False
potential                   False
pac                         False
sho                         False
pas                         False
dri                         False
defend                      False
phy                         False
international_reputation    False
skill_moves                 False
weak_foot                   False
work_rate_att               False
work_rate_defend            False
preferred_foot              False
crossing                    False
finishing                   False
heading_accuracy            False
                            ...
rw                          False
rm                          False
rb                          False
rwb                         False
st                          False
lw                          False
cf                          False
cam                         False
cm                          False
lm                          False
cdm                         False
cb                          False
lb                          False
lwb                         False
gk                          False
prefers_rw                  False
prefers_rm                  False
prefers_rb                  False
prefers_rwb                 False
prefers_st                  False
prefers_lw                  False
prefers_cf                  False
prefers_cam                 False
prefers_cm                  False
prefers_lm                  False
prefers_cdm                 False
prefers_cb                  False
prefers_lb                  False
prefers_lwb                 False
prefers_gk                  False
Length: 91, dtype: bool

name                        0
full_name                   0
club                        0
special                     0
age                         0
league                      0
birth_date                  0
height_cm                   0
weight_kg                   0
nationality                 0
eur_value                   0
eur_wage                    0
eur_release_clause          0
overall                     0
potential                   0
pac                         0
sho                         0
pas                         0
dri                         0
defend                      0
phy                         0
international_reputation    0
skill_moves                 0
weak_foot                   0
work_rate_att               0
work_rate_defend            0
preferred_foot              0
crossing                    0
finishing                   0
heading_accuracy            0
                           ..
rw                          0
rm                          0
rb                          0
rwb                         0
st                          0
lw                          0
cf                          0
cam                         0
cm                          0
lm                          0
cdm                         0
cb                          0
lb                          0
lwb                         0
gk                          0
prefers_rw                  0
prefers_rm                  0
prefers_rb                  0
prefers_rwb                 0
prefers_st                  0
prefers_lw                  0
prefers_cf                  0
prefers_cam                 0
prefers_cm                  0
prefers_lm                  0
prefers_cdm                 0
prefers_cb                  0
prefers_lb                  0
prefers_lwb                 0
prefers_gk                  0
Length: 91, dtype: int64

In [122]:
#Check our head()
complete.head(10)

,name,full_name,club,special,age,league,birth_date,height_cm,weight_kg,nationality,...,prefers_lw,prefers_cf,prefers_cam,prefers_cm,prefers_lm,prefers_cdm,prefers_cb,prefers_lb,prefers_lwb,prefers_gk
ID,,,,,,,,,,,,,,,,,,,,,
20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,2228,32,Spanish Primera División,2/5/85,185,80,Portugal,...,1,0,0,0,0,0,0,0,0,0
158023,L. Messi,Lionel Messi,FC Barcelona,2158,30,Spanish Primera División,6/24/87,170,72,Argentina,...,0,1,0,0,0,0,0,0,0,0
190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,2100,25,French Ligue 1,2/5/92,175,68,Brazil,...,1,0,0,0,0,0,0,0,0,0
176580,L. Suárez,Luis Suárez,FC Barcelona,2291,30,Spanish Primera División,1/24/87,182,86,Uruguay,...,0,0,0,0,0,0,0,0,0,0
167495,M. Neuer,Manuel Neuer,FC Bayern Munich,1493,31,German Bundesliga,3/27/86,193,92,Germany,...,0,0,0,0,0,0,0,0,0,1
188545,R. Lewandowski,Robert Lewandowski,FC Bayern Munich,2146,28,German Bundesliga,8/21/88,185,79,Poland,...,0,0,0,0,0,0,0,0,0,0
193080,De Gea,David De Gea Quintana,Manchester United,1458,26,English Premier League,11/7/90,193,76,Spain,...,0,0,0,0,0,0,0,0,0,1
183277,E. Hazard,Eden Hazard,Chelsea,2096,26,English Premier League,1/7/91,173,76,Belgium,...,1,0,0,0,0,0,0,0,0,0
182521,T. Kroos,Toni Kroos,Real Madrid CF,2165,27,Spanish Primera División,1/4/90,182,78,Germany,...,0,0,0,1,0,1,0,0,0,0
167664,G. Higuaín,Gonzalo Higuaín,Juventus,1961,29,Italian Serie A,12/10/87,184,87,Argentina,...,0,0,0,0,0,0,0,0,0,0

In [39]:
#Let us now export this dataframe to a CSV 
complete.to_csv("modified_fifa18_data.csv", encoding='utf-8')

We have now treated all our FIFA 18 player relevant data.

# Other Data and Past Data

We want to have at our disposal a larger data set with more data on teams, leagues and more player data over a period of time from 2007-2015. However, some of this data will be changed for our purposes as well.
<br/>
This second data source is also a Kaggle Data source called: European Soccer Database:
https://www.kaggle.com/hugomathien/soccer

In [40]:
import sqlite3
import os

In [41]:
pwd()

'/Users/lucasnewman/Desktop/FIFA'

In [42]:
path = "/Users/lucasnewman/Desktop/FIFA/"  #Insert path here
database = path + 'database.sqlite'

In [43]:
#connect to sql db
conn = sqlite3.connect(database)
cur = conn.cursor()
tables = pd.read_sql("""SELECT * FROM sqlite_master WHERE type='table';""", conn)

In [44]:
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

In [69]:
#Create league df and modify it, then export as csv
leagues = pd.read_sql("""SELECT *
                        FROM League
                        JOIN Country ON Country.id = League.country_id;""", conn,)

leagues=leagues.drop(['id'], axis=1)
leagues.set_index('country_id')
leagues.to_csv('Euro_leagues.csv', encoding="utf-8")

                                name         name
country_id
1             Belgium Jupiler League      Belgium
1729          England Premier League      England
4769                  France Ligue 1       France
7809           Germany 1. Bundesliga      Germany
10257                  Italy Serie A        Italy
13274         Netherlands Eredivisie  Netherlands
15722             Poland Ekstraklasa       Poland
17642       Portugal Liga ZON Sagres     Portugal
19694        Scotland Premier League     Scotland
21518                Spain LIGA BBVA        Spain
24558       Switzerland Super League  Switzerland

country_id    False
name          False
name          False
dtype: bool

In [104]:
#create teams table
teams = pd.read_sql("""SELECT *
                        FROM Team
                        ORDER BY team_long_name;""", conn)

teams=teams.drop(['id'], axis=1)
teams=teams.drop(['team_fifa_api_id'], axis=1)
teams=teams.set_index('team_api_id')
teams.head()
teams.to_csv('Euro_teams.csv', encoding="utf-8")

                   team_long_name team_short_name
team_api_id
8350         1. FC Kaiserslautern             KAI
8722                   1. FC Köln             FCK
8165               1. FC Nürnberg             NUR
9905              1. FSV Mainz 05             MAI
8576                   AC Ajaccio             AJA

In [92]:
#create a team attributes table
#this will be important when trying to figure out what players fit a scheme of a team better
team_attributes = pd.read_sql("""SELECT 
                            * FROM Team_Attributes AS theleft 
                            LEFT OUTER JOIN Team AS theright 
                            ON theleft.team_api_id=theright.team_api_id 
                            ORDER BY team_long_name;""", conn)
#Lets see how many null values
team_attributes.isnull().sum(axis=0)
#As we can see 'buildUpPlayDribbling' has a lot of nulls and is the only column that has any
#Let us drop this column

team_attributes=team_attributes.drop(['buildUpPlayDribbling'], axis=1)
#lets check again
team_attributes.isnull().sum(axis=0)
team_attributes.head()

team_attributes.to_csv('Euro_team_attributes.csv', encoding="utf-8")

id                                  0
team_fifa_api_id                    0
team_api_id                         0
date                                0
buildUpPlaySpeed                    0
buildUpPlaySpeedClass               0
buildUpPlayDribbling              969
buildUpPlayDribblingClass           0
buildUpPlayPassing                  0
buildUpPlayPassingClass             0
buildUpPlayPositioningClass         0
chanceCreationPassing               0
chanceCreationPassingClass          0
chanceCreationCrossing              0
chanceCreationCrossingClass         0
chanceCreationShooting              0
chanceCreationShootingClass         0
chanceCreationPositioningClass      0
defencePressure                     0
defencePressureClass                0
defenceAggression                   0
defenceAggressionClass              0
defenceTeamWidth                    0
defenceTeamWidthClass               0
defenceDefenderLineClass            0
id                                  0
team_api_id                         0
team_fifa_api_id                    0
team_long_name                      0
team_short_name                     0
dtype: int64

id                                0
team_fifa_api_id                  0
team_api_id                       0
date                              0
buildUpPlaySpeed                  0
buildUpPlaySpeedClass             0
buildUpPlayDribblingClass         0
buildUpPlayPassing                0
buildUpPlayPassingClass           0
buildUpPlayPositioningClass       0
chanceCreationPassing             0
chanceCreationPassingClass        0
chanceCreationCrossing            0
chanceCreationCrossingClass       0
chanceCreationShooting            0
chanceCreationShootingClass       0
chanceCreationPositioningClass    0
defencePressure                   0
defencePressureClass              0
defenceAggression                 0
defenceAggressionClass            0
defenceTeamWidth                  0
defenceTeamWidthClass             0
defenceDefenderLineClass          0
id                                0
team_api_id                       0
team_fifa_api_id                  0
team_long_name                    0
team_short_name                   0
dtype: int64

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,...,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,631,29,8350,2010-02-22 00:00:00,45,Balanced,Little,55,Mixed,Organised,...,70,Double,70,Wide,Cover,16848,8350,29,1. FC Kaiserslautern,KAI
1,632,29,8350,2011-02-22 00:00:00,48,Balanced,Little,42,Mixed,Organised,...,48,Press,53,Normal,Cover,16848,8350,29,1. FC Kaiserslautern,KAI
2,633,29,8350,2012-02-22 00:00:00,38,Balanced,Little,54,Mixed,Organised,...,51,Press,53,Normal,Cover,16848,8350,29,1. FC Kaiserslautern,KAI
3,634,29,8350,2013-09-20 00:00:00,61,Balanced,Little,54,Mixed,Organised,...,50,Press,53,Normal,Cover,16848,8350,29,1. FC Kaiserslautern,KAI
4,635,29,8350,2014-09-19 00:00:00,66,Balanced,Normal,53,Mixed,Organised,...,47,Press,49,Normal,Cover,16848,8350,29,1. FC Kaiserslautern,KAI

In [94]:
detailed_matches = pd.read_sql("""SELECT Match.id, 
                                        Country.name AS country_name, 
                                        League.name AS league_name, 
                                        season, 
                                        stage, 
                                        date,
                                        HT.team_long_name AS  home_team,
                                        AT.team_long_name AS away_team,
                                        home_team_goal, 
                                        away_team_goal                                        
                                FROM Match
                                JOIN Country on Country.id = Match.country_id
                                JOIN League on League.id = Match.league_id
                                LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
                                LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
                                WHERE country_name = 'Spain'
                                ORDER by date""", conn)
detailed_matches
detailed_matches.to_csv('/Users/lucasnewman/Desktop/FIFA/detailed_matches.csv', encoding='utf-8')

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
0,21518,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-30 00:00:00,Valencia CF,RCD Mallorca,3,0
1,21525,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-30 00:00:00,RCD Espanyol,Real Valladolid,1,0
2,21519,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,CA Osasuna,Villarreal CF,1,1
3,21520,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,RC Deportivo de La Coruña,Real Madrid CF,2,1
4,21521,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,CD Numancia,FC Barcelona,1,0
5,21522,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Racing Santander,Sevilla FC,1,1
6,21523,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Real Sporting de Gijón,Getafe CF,1,2
7,21524,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Real Betis Balompié,RC Recreativo,0,1
8,21526,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Athletic Club de Bilbao,UD Almería,1,3
9,21527,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Atlético Madrid,Málaga CF,4,0
10,21630,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-13 00:00:00,FC Barcelona,Racing Santander,1,1
11,21631,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-13 00:00:00,Sevilla FC,Real Sporting de Gijón,4,3
12,21634,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-13 00:00:00,Real Valladolid,Atlético Madrid,2,1
13,21628,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,Villarreal CF,RC Deportivo de La Coruña,1,0
14,21629,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,Real Madrid CF,CD Numancia,4,3
15,21632,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,Getafe CF,Real Betis Balompié,0,0
16,21633,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,RC Recreativo,RCD Espanyol,0,1
17,21635,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,Málaga CF,Athletic Club de Bilbao,0,0
18,21636,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,UD Almería,Valencia CF,2,2
19,21637,Spain,Spain LIGA BBVA,2008/2009,2,2008-09-14 00:00:00,RCD Mallorca,CA Osasuna,1,1
20,21743,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-20 00:00:00,RCD Espanyol,Getafe CF,1,1
21,21747,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-20 00:00:00,Atlético Madrid,RC Recreativo,4,0
22,21738,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,Real Sporting de Gijón,FC Barcelona,1,6
23,21739,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,CD Numancia,Villarreal CF,1,2
24,21740,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,RC Deportivo de La Coruña,RCD Mallorca,0,0
25,21741,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,Valencia CF,CA Osasuna,1,0
26,21742,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,Real Betis Balompié,Sevilla FC,0,0
27,21744,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,Racing Santander,Real Madrid CF,0,2
28,21745,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,UD Almería,Málaga CF,1,0
29,21746,Spain,Spain LIGA BBVA,2008/2009,3,2008-09-21 00:00:00,Athletic Club de Bilbao,Real Valladolid,2,0
...,...,...,...,...,...,...,...,...,...,...
3010,24471,Spain,Spain LIGA BBVA,2015/2016,36,2016-04-29 00:00:00,Real Sporting de Gijón,SD Eibar,2,0
3011,24468,Spain,Spain LIGA BBVA,2015/2016,36,2016-04-30 00:00:00,Real Sociedad,Real Madrid CF,0,1
3012,24472,Spain,Spain LIGA BBVA,2015/2016,36,2016-04-30 00:00:00,Real Betis Balompié,FC Barcelona,0,2
3013,24474,Spain,Spain LIGA BBVA,2015/2016,36,2016-04-30 00:00:00,Granada CF,UD Las Palmas,3,2
3014,24477,Spain,Spain LIGA BBVA,2015/2016,36,2016-04-30 00:00:00,Atlético Madrid,Rayo Vallecano,1,0
3015,24469,Spain,Spain LIGA BBVA,2015/2016,36,2016-05-01 00:00:00,Valencia CF,Villarreal CF,0,2
3016,24470,Spain,Spain LIGA BBVA,2015/2016,36,2016-05-01 00:00:00,RC Deportivo de La Coruña,Getafe CF,0,2
3017,24473,Spain,Spain LIGA BBVA,2015/2016,36,2016-05-01 00:00:00,RCD Espanyol,Sevilla FC,1,0
3018,24475,Spain,Spain LIGA BBVA,2015/2016,36,2016-05-01 00:00:00,Athletic Club de Bilbao,RC Celta de Vigo,2,1
3019,24476,Spain,Spain LIGA BBVA,2015/2016,36,2016-05-02 00:00:00,Málaga CF,Levante UD,3,1
3020,24478,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,Real Sociedad,Rayo Vallecano,2,1
3021,24479,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,Real Madrid CF,Valencia CF,3,2
3022,24480,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,Villarreal CF,RC Deportivo de La Coruña,0,2
3023,24481,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,Getafe CF,Real Sporting de Gijón,1,1
3024,24482,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,SD Eibar,Real Betis Balompié,1,1
3025,24483,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,FC Barcelona,RCD Espanyol,5,0
3026,24484,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,Sevilla FC,Granada CF,1,4
3027,24485,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,UD Las Palmas,Athletic Club de Bilbao,0,0
3028,24486,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,RC Celta de Vigo,Málaga CF,1,0
3029,24487,Spain,Spain LIGA BBVA,2015/2016,37,2016-05-08 00:00:00,Levante UD,Atlético Madrid,2,1
3030,24488,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-13 00:00:00,Valencia CF,Real Sociedad,0,1
3031,24489,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-14 00:00:00,RC Deportivo de La Coruña,Real Madrid CF,0,2
3032,24493,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-14 00:00:00,Granada CF,FC Barcelona,0,3
3033,24494,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-14 00:00:00,Athletic Club de Bilbao,Sevilla FC,3,1
3034,24496,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-14 00:00:00,Atlético Madrid,RC Celta de Vigo,2,0
3035,24490,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-15 00:00:00,Real Sporting de Gijón,Villarreal CF,2,0
3036,24491,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-15 00:00:00,Real Betis Balompié,Getafe CF,2,1
3037,24492,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-15 00:00:00,RCD Espanyol,SD Eibar,4,2
3038,24495,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-15 00:00:00,Málaga CF,UD Las Palmas,4,1
3039,24497,Spain,Spain LIGA BBVA,2015/2016,38,2016-05-15 00:00:00,Rayo Vallecano,Levante UD,3,1

In [103]:
#Create a player reference table
player_ref=pd.read_sql("""SELECT *
                        FROM Player
                        ORDER BY player_fifa_api_id ;""", conn)
player_ref.isnull().sum(axis=0)
player_ref=player_ref.drop(['id'], axis=1)
player_ref=player_ref.drop(['player_api_id'], axis=1)
player_ref=player_ref.set_index('player_fifa_api_id')
player_ref.head()
player_ref.to_csv('player_ref.csv', encoding="utf-8")

id                    0
player_api_id         0
player_name           0
player_fifa_api_id    0
birthday              0
height                0
weight                0
dtype: int64

                          player_name             birthday  height  weight
player_fifa_api_id
2                   Giovanni Pasquale  1982-01-05 00:00:00  182.88     181
6                      Alessio Scarpi  1973-04-19 00:00:00  187.96     183
11                      Romain Rocchi  1981-10-02 00:00:00  182.88     165
16                        Luis Garcia  1981-02-06 00:00:00  177.80     152
27                           Joe Cole  1981-11-08 00:00:00  175.26     161

In [112]:
#create a table with only player attributes and id
just_player_attributes=pd.read_sql("""SELECT *
                        FROM Player_Attributes
                        ORDER BY player_fifa_api_id ;""", conn)
just_player_attributes.head()
just_player_attributes.isnull().sum(axis=0)
just_player_attributes=just_player_attributes.dropna()
just_player_attributes.isnull().sum(axis=0)
just_player_attributes=just_player_attributes.drop(['id'], axis=1)
just_player_attributes=just_player_attributes.drop(['player_api_id'], axis=1)
just_player_attributes=just_player_attributes.set_index('player_fifa_api_id')
just_player_attributes.head()
just_player_attributes.to_csv('just_player_attributes.csv', encoding="utf-8")

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,64695,2,39357,2016-05-12 00:00:00,69.0,69.0,left,medium,high,75.0,...,66.0,50.0,70.0,69.0,69.0,14.0,5.0,15.0,10.0,12.0
1,64696,2,39357,2016-05-05 00:00:00,69.0,69.0,left,medium,high,75.0,...,66.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0
2,64697,2,39357,2016-04-28 00:00:00,69.0,69.0,left,medium,high,75.0,...,61.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0
3,64698,2,39357,2016-04-21 00:00:00,69.0,69.0,left,medium,high,75.0,...,61.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0
4,64699,2,39357,2015-12-17 00:00:00,69.0,69.0,left,medium,high,75.0,...,61.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0

id                        0
player_fifa_api_id        0
player_api_id             0
date                      0
overall_rating          836
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
dtype: int64

id                     0
player_fifa_api_id     0
player_api_id          0
date                   0
overall_rating         0
potential              0
preferred_foot         0
attacking_work_rate    0
defensive_work_rate    0
crossing               0
finishing              0
heading_accuracy       0
short_passing          0
volleys                0
dribbling              0
curve                  0
free_kick_accuracy     0
long_passing           0
ball_control           0
acceleration           0
sprint_speed           0
agility                0
reactions              0
balance                0
shot_power             0
jumping                0
stamina                0
strength               0
long_shots             0
aggression             0
interceptions          0
positioning            0
vision                 0
penalties              0
marking                0
standing_tackle        0
sliding_tackle         0
gk_diving              0
gk_handling            0
gk_kicking             0
gk_positioning         0
gk_reflexes            0
dtype: int64

,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_fifa_api_id,,,,,,,,,,,,,,,,,,,,,
2,2016-05-12 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,59.0,71.0,...,66.0,50.0,70.0,69.0,69.0,14.0,5.0,15.0,10.0,12.0
2,2016-05-05 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,59.0,71.0,...,66.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0
2,2016-04-28 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,61.0,71.0,...,61.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0
2,2016-04-21 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,61.0,71.0,...,61.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0
2,2015-12-17 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,61.0,71.0,...,61.0,50.0,70.0,74.0,74.0,14.0,5.0,15.0,10.0,12.0

In [121]:
#Join player reference and player attribute tables so that now player attribute table 
#has names
left=just_player_attributes
right=player_ref
euro_player_df=left.join(right, lsuffix='_left', rsuffix='_right')
euro_player_df.head()
euro_player_df.isnull().sum(axis=0)
euro_player_df.to_csv('euro_player.csv', encoding="utf-8")

,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,...,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,player_name,birthday,height,weight
player_fifa_api_id,,,,,,,,,,,,,,,,,,,,,
2,2016-05-12 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,59.0,71.0,...,69.0,14.0,5.0,15.0,10.0,12.0,Giovanni Pasquale,1982-01-05 00:00:00,182.88,181
2,2016-05-05 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,59.0,71.0,...,74.0,14.0,5.0,15.0,10.0,12.0,Giovanni Pasquale,1982-01-05 00:00:00,182.88,181
2,2016-04-28 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,61.0,71.0,...,74.0,14.0,5.0,15.0,10.0,12.0,Giovanni Pasquale,1982-01-05 00:00:00,182.88,181
2,2016-04-21 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,61.0,71.0,...,74.0,14.0,5.0,15.0,10.0,12.0,Giovanni Pasquale,1982-01-05 00:00:00,182.88,181
2,2015-12-17 00:00:00,69.0,69.0,left,medium,high,75.0,50.0,61.0,71.0,...,74.0,14.0,5.0,15.0,10.0,12.0,Giovanni Pasquale,1982-01-05 00:00:00,182.88,181

date                   0
overall_rating         0
potential              0
preferred_foot         0
attacking_work_rate    0
defensive_work_rate    0
crossing               0
finishing              0
heading_accuracy       0
short_passing          0
volleys                0
dribbling              0
curve                  0
free_kick_accuracy     0
long_passing           0
ball_control           0
acceleration           0
sprint_speed           0
agility                0
reactions              0
balance                0
shot_power             0
jumping                0
stamina                0
strength               0
long_shots             0
aggression             0
interceptions          0
positioning            0
vision                 0
penalties              0
marking                0
standing_tackle        0
sliding_tackle         0
gk_diving              0
gk_handling            0
gk_kicking             0
gk_positioning         0
gk_reflexes            0
player_name            0
birthday               0
height                 0
weight                 0
dtype: int64

# Some Commentary about the Data sets:

For the basis of the FIFA exploration, and study of soccer analytics there are 2 data sets which serve as a foundation. The first is an exhaustive data set containing data from the FIFA 18 videogame. The dataset contains data scraped from the website sofifa.com. The link to this Kaggle dataset is provided here:
<br/>
https://www.kaggle.com/kevinmh/fifa-18-more-complete-player-dataset 
<br/>
 This data set is revolves around capturing numerous metrics for all the players in FIFA 18 and provides a vast array of metrics to quantify target variables such as player value, player potential, and player overall rating.
 However for the purposes of this project this data had to be somewhat altered as was done above, and cleaned.
 <br/>
 <br/>
 The second data set used is from a SQL database containing data on various topics in soccer in Europe from 2007-2015. The link to this dataset is provided here:
 <br/>
 https://www.kaggle.com/hugomathien/soccer
 <br/>
 However, this data set also had to be modified and cleaned for our purposes. From this several pandas dataframe were created from the SQL tables and then exported to CSVs for future use. Although, all of the data created may be of use in the future for now the most beneficial data will be the team attributes data, as we can explore what players fit the tactical style of a give team. Additionally, the 'euro_player' csv data created from the outer join of two other dataframes will be of use for our analysis. This csv cointains some, but not as many player attributes as the 2018 complete dataset; however, what it does provide of value is that it shows the progression of attributes for players over time (data from fifa 2007 to fifa 2015 video games). The metrics that this table does have are completely compatible with the 2018 data set (although there arent as many different ones), and this data can be joined because the fifa_api_id in this table is the same as the id in the complete fifa 18 data table. Essentially, why this is of value is we can study variability in some attributes over time for players, which we were unable to do soley with the Fifa 18 data. 
 <br/>
 <br/>
With the 2 Kaggle data sources as our inspiration we have created a databank with several csv files and pandas dataframes, that we will conduct analytics on. Although, all the various data created may be of use in the distant future for now our analytics will center around 3 data sets that we created:
<br/>
First: our modified complete data set for fifa 18. CSV name: 'modified_fifa18_data.csv'
Second: our euro_player data from fifa 2007-2015 CSV name: 'euro_player.csv'
Lastly: our team_attributes data we created from 2007-2015 CSV name: 'Euro_team_attributes.csv'
<br/>
We intend on using all 3 of these datasets however, the emphasis will be placed on the first one to begin with. From these 3 datasets we will create smaller subsets along the road if our analysis calls for it.